@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@500&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 65%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 102px;
}
header .header-top {
  text-transform: uppercase;
  background-color: #0282f9;
  color: white;
  font-size: 10px;
  height: 20px;
}
header .header-top .flex-header-top {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
header .header-top .flex-header-top div:last-child {
  margin-left: 60px;
}
header .flex-header-bottom {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
header .logo img {
  width: 60px;
}
header nav {
  height: 100%;
}
header nav ul {
  height: 100%;
  display: flex;
}
header nav ul li {
  padding: 0 10px;
  position: relative;
  line-height: 85px;
  cursor: pointer;
}
header nav ul li.selected-item {
  color: #0282f9;
}
header nav ul li.selected-item::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0;
  display: inline-block;
  background-color: #0282f9;
}
header nav ul li a {
  font-size: 10px;
  text-transform: uppercase;
}

#jumbotron img {
  height: 19.8rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 0px;
     object-position: center 0px;
}

#comics_section {
  color: white;
  background-color: #1c1c1c;
  height: 32.5rem;
}
#comics_section .container {
  position: relative;
}
#comics_section .container .current_series {
  background-color: #0282f9;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: -22px;
}
#comics_section .container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15px;
}
#comics_section .container .row .col {
  width: calc(16.6666666667% - 18px);
}
#comics_section .container .row .col .comic_card {
  margin-top: 40px;
}
#comics_section .container .row .col .comic_card img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 0;
     object-position: center 0;
}
#comics_section .container .row .col .comic_card h3 {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 10px;
}
#comics_section .container .button_comics {
  text-transform: uppercase;
  padding: 10px 50px;
  background-color: #0282f9;
  font-size: 11px;
  color: white;
  border: #0282f9;
  position: absolute;
  top: 490px;
  left: 50%;
  transform: translate(-50%, -50%);
}